body {
    font-family: Arial, sans-serif; /*основной и запасной шрифты*/
    background-color: #252525; /*цвет фона*/
    margin: 0; /*внешние отступы*/
    padding: 0; /*внутренние отступы*/
}

/*блок для анкеты и для submit */
.container {
    width: 300px; /*ширина контейнера*/
    margin: 100px auto; /*отсуп сверху и центрирование*/
    padding: 20px;
    background-color: #3b3b3b; /*цвет фона контейнера*/
    border-radius: 5px; /*скругление углов с радиусом 5пикселей*/
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1); /*тень*/
}

/*надпись "анкета"*/
h2 {
    text-align: center; /*центрирование*/
    color: #c8c8c8; /*цвет*/
}

/*подписи блоков для ввода*/
label {
    display: block; /*установка метки label как блоков занимающих всю ширину*/
    margin-bottom: 8px; /*нижний отступ в 8 пикселей между меткой и полем ввода*/
    color: #c8c8c8; /*цвет текста*/
}

/*блоки для ввода*/
input[type="text"],
input[type="email"] {
    width: 100%; /*ширирна поля ввода*/
    padding: 10px; /*внутрение отступы*/
    margin-bottom: 20px; /*нижний отступ*/
    background-color: #2c2c2c; /*цвет фона для полей ввода */
    color: #c8c8c8;
    border: 1px solid #1a1a1a; /*темная обводка полей для ввода*/
    border-radius: 4px; /*скругление*/
    box-sizing: border-box; /*учитывание отступов и границ в расчет ширины и высоты элемнта*/
}

/*кнопка*/
input[type="submit"] {
    background-color: #364aff; /*фон*/
    color: white; /*текст*/
    padding: 10px 15px; /*положение надписи*/
    border: none; /*отключение обводки*/
    border-radius: 4px; /*скругление углов*/
    cursor: pointer; /*изменение курсора на указатель*/
    width: 100%; /*ширина кнопки*/
}

input[type="submit"]:hover {
    background-color: #4154ff; /*изменение цвета кнопки при наведении курсора*/
}   

/*стиль для страницы submit.html */
.message {
    font-size: 24px; /*размер шрифта*/
    color: #ababab; /*цвет текста*/
    text-align: center; /*центрирование*/
    
}